<script type="text/javascript">var meetingId = <%= @meeting.id %>;</script>
<h2><%= @meeting.title %></h2>

<div class="container">
	<div class="row">
		<div class="span12"><video id="my-stream" autoplay="autoplay" width="100%" height="100%"></video></div>
	</div>
	<div class="row">
		<div class="span2" id="remote-streams-bar"></div>
	</div>
</div>

<%= link_to 'Back', meetings_path %>
