<script type="text/javascript">var meetingId = <%= @meeting.id %>;</script>
<h2><%= @meeting.title %></h2>

<div class="container">
	<video id="my-stream" autoplay="autoplay"></video>
</div>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
